@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
    --red: hsl(0, 100%, 74%); 
    --green: hsl(154, 59%, 51%);
    --blue: hsl(248, 32%, 49%);
    --dark-blue: hsl(249, 10%, 26%);
    --grayish-blue: hsl(246, 25%, 77%);
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 200;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url('./images/bg-intro-desktop.png');
    background-position: center;
    background-repeat: repeat;
    background-color: var(--red);
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    margin: 2rem 0;
    max-width: 90%;
}

/* Header */
.header{
    text-align: center;
    color: white;
}

.header__title{
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.1;
    margin: 1.5rem 0;
}

.header__content{
    font-weight: 500;
}

/* Content Notice */
.content__notice{
    background-color: var(--blue);
    border-radius: 0.5rem;
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 4rem 0 2rem 0;
    box-shadow: 0px 0.5rem rgba(0, 0, 0, 0.2);
}

.content__notice__info{
    width: 50%;
    color: white;
}

.content__notice__info__bold{
    font-weight: 700;
}

/* Content Form */
.content__form{
    background-color: white;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0px 0.5rem rgba(0, 0, 0, 0.2);
}

.content__form > * {
    width: 100%;
    margin: 0.5rem 0;
}

.content__form__text{
    height: 3rem;
    padding-left: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 0.3rem;
    outline: 1px solid var(--grayish-blue);
}

.content__form__text:focus{
    outline: 1px solid var(--dark-blue);
}

.content__form__button{
    height: 3rem;
    border: none;
    background-color: var(--green);
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    border-radius: 0.5rem;
    box-shadow: 0px 0.3rem hsl(154, 59%, 48%);
}

.content__form__button:hover{
    opacity: 0.7;
}

.content__form__term{
    text-align: center;
    color: var(--grayish-blue)
}

.content__form__red{
    color: var(--red);
    font-weight: 500;
    cursor: pointer
}

.content__form__red:hover{
    filter: saturate(3);
}

@media (min-width: 50rem){
    main{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    main > section {
        flex: 0 2 45%;
    }

    .header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        text-align: left;
    }

    .content__notice{
        margin-top: 0;
    }
}

/* Error elements */
.content__form > *{
    margin: 0;
}

.content__form__input__wrapper{
    position: relative;
}

.content__form__input input{
    width: 100%;
}

.content__form__input__wrapper::before{
    content: '';
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translate(-50%, -50%);
    width: 1.2rem;
    height: 1.2rem;
    background: url('./images/icon-error.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.content__form__input__message{
    display: block;
    text-align: right;
    visibility: hidden;
    color: var(--red);
    font-weight: 500;
}

